<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">More information</h2>
                <hr class="light">
                <p class="">This page uses the algorithm developed by 
                    <a href="https://arxiv.org/pdf/1801.06345.pdf">Liang et al. (2018)</a>.
                    Neither it nor the algorithm has any affiliation with TikTok or ByteDance.
                </p>
                <p>The algorithm works best with square headshot images. If you are getting weird results, 
                    crop your image to be just a face and resize to 224x224 px.</p>
                <p>We do not store any submitted images.</p>
            </div>
        </div>
    </div>
</section>
