<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>TikTok Follower Count Distribution</h1>
      <hr>

      <div class="col-sm-5 center-input">
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="ratingForm">

              <div class="row">
                <div class="center-input col-sm-10" id="resultsHolder">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h2 class="panel-title">Your TikTokDistribution.com Results</h2>
                    </div>
                    <div class="panel-body" id="plotHolder"></div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-10 center-input">
                  <div class="form-group">
                    <label for="followerCount">Follower Count</label>
                    <input type="text" class="form-control" id="followerCount"
                      placeholder="100" required>
                    <div class="invalid-feedback" id="followerError">
                      Please provide a valid natural number.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>