<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>TikTok Beautiful</h1>
            <hr>
            <p>Want to know how a machine learning algorithm evaluates your facial appearance?</p>
            <form id="ratingForm">
              <div class="row justify-content-md-center">
                <div class="col-sm-3 center-input">
                  <div class="form-group">
                    <label for="exampleInputEmail1">TikTok Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="@charlidamelio" required>
                    <small id="emailHelp" class="form-text text-faded">We use this to prevent spam</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3 center-input">
                    <label for="exampleFormControlFile1">Headshot photo</label>
                    <input type="file" class="form-control-file" id="photo" required>
                  </div>
                </div>
                
              <div class="row">
                <div class="center-input col-sm-3 preview-holder">
                  <img id="preview"/>   
                </div>
              </div>
                <div class="row">
                <button type="submit" class="btn btn-primary btn-xl">Submit</button>
              </div>
              <div class="row">
                <div class="loader-holder" id="loaderHolder">
                  <div class="loader"></div>
                </div>
              </div>
              
              <div class="row">
                <div class="center-input col-sm-3" id="resultsHolder">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h2 class="panel-title">Your Results</h2>
                    </div>
                    <div class="panel-body" id="resultText">
                      
                    </div>
                  </div>                                 
                </div>
              </div>
            </form>
            
            <hr>
              
            <a href="#about" class="btn btn-primary btn page-scroll">More Details</a>              
        </div>
    </div>
</header>
